<h1>Posts</h1>

<!-- create new -->
<%= link_to "Create New Post", new_post_path %>

<% @posts.each do |post| %>
        <div><%= post.title %></div>
        <div><%= post.author %></div>
      <ul>
        <li><%= link_to 'Show', post %></li>
        <li><%= link_to 'Edit', edit_post_path(post) %></li>
        <li><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    <% end %>
